<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898709296651-6pknmmodcpou6pj4foni5qevovtruosn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898709296651-6pknmmodcpou6pj4foni5qevovtruosn</string>
	<key>API_KEY</key>
	<string>AIzaSyAMsgi5k4uIIJw6ktNPGcjvU1us6zfTgE4</string>
	<key>GCM_SENDER_ID</key>
	<string>898709296651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.eolis.app</string>
	<key>PROJECT_ID</key>
	<string>report--app</string>
	<key>STORAGE_BUCKET</key>
	<string>report--app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898709296651:ios:0d868b3efa4f3185</string>
	<key>DATABASE_URL</key>
	<string>https://report-app.firebaseio.com</string>
</dict>
</plist>